/* 
    1. Posicionamiento
    2. Modelo de caja
    3. Tipografia
    4. Visuales
    5. Otros
*/

/* Variables */
:root {
  /* Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d4;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black1: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

/* Reset */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Fuentes */

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}
/* header */

header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35.3rem;
  /* overflow: hidden; */
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.header__image--container {
  margin-top: 7.8rem;
  margin-bottom: 3.3rem;
}

.header__title--container {
  align-self: center;
  text-align: center;
  width: 288px;
  max-width: 488px;
}

.header__title--container h1 {
  margin-bottom: 2.4rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--just-white);
  line-height: 2.4rem;
  max-width: 48.8rem;
  margin: 0 auto;
}

.header__title--container p {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--soft-orange);
  line-height: 1.8rem;
  margin-bottom: 3.2rem;
}

.header__title--container a {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--warm-black);
  text-decoration: none;
  background-color: var(--off-white);
  padding: 1.2rem 1.6rem;
  box-shadow: 0 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
  border-radius: 0.4rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 229px;
}

.header__title--container a img{
  margin-left: 0.8rem;
}

/* MAIN 1 */

main{
  background-color: var(--off-white);
  width: 100%;
  height: auto;
  padding-top: 5rem;
}

.main__exchange--container{
  width: 100%;
  height: auto;
  text-align: center;
}

.main__exchange--texto{
  width: 90%;
  margin: 0 auto;
}

.main__exchange--texto h2{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;  
  color: var(--warm-black)
}

.main__exchange--texto p{
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #757575;
}

.main__tables--container{
  width: 90%;
  margin: 0 auto;
  /* text-align: center; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.currency__table--title{
  color: #FF9536;
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
  
}

.currency__table--title-blue{
  color: var(--secondary-blue);
}

.currency__table--container table{
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 1.8rem;
  border-collapse: collapse;
}

.currency__table--container td{
  padding: 1rem 1.2rem;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  letter-spacing: -0.02;
  border: 0.2rem solid var(--off-white);
}

.table__left{
  color: #B5B0AC;
  font-weight: 500;
  line-height: 1.9rem;
}

.table__right{
  color: #757575;
}

.currency__table--date{
  margin-top: 1.6rem;
  background-color: #ffe9d4;
  width: auto;  border-radius: 0.8rem;
}

.currency__table--date p {
  padding: 0.8rem;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: var(--warm-black);
}

.currency__table--date-blue{
  background-color: #E7F5FF;
}

.main-product-detail{
  margin-top: 6.4rem;
  background-color: var(--warm-black);
  width: 100%;
  height: auto;
  padding: 1.7rem;
  position:relative;
  margin: 0 auto;
  margin-top: 6.4rem;
}

.logo__absolute{
  position: absolute;
  top: calc(0% - 1.25rem);
  left: calc(50% - 2rem);
}

.product-detail__title{
  text-align: center;
  margin-bottom: 3.2rem;
  margin-top: 6.4rem;
}

.product-detail__title h2{
  color: white;
  margin-bottom: 2.4rem;
}

.product-detail__title p{
  color: #808080;
}

.products-cards__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-cards__container{
  background-color: var(--warm-black1);
  padding: 2rem 2.2rem;
  margin-bottom: 1.6rem;
  border-radius: 1rem;
  width: 100%;
  height: 18rem;
}

@media (min-width: 768px){
  .product-cards__container{
    width: 40%;
    margin-right:1.6rem;
  }
}

.product-cards__container .product-card__title{
  color: var(--just-white);
}

.product-cards__container .product-card__body{
  color: #808080;
  font-size: 1.4rem;
  line-height: 1.8rem;
}